<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'productos/css/bootstrap.min.css'%}">
    <script src="{% static 'productos/js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'productos/js/bootstrap.min.js'%}"></script>
    <link rel="shortcut icon" href="{% static 'productos/img/logo1.png'%}">
    <title>mascotas Login</title>

</head>

<body>
    <div class="container border shadow p-3 mb-5" style="margin-top: 3rem;">
        <form class="form-group" action="{%url 'productos:iniciar_sesion'%}" method="POST">
            {% csrf_token %}
            <h3 style="text-align: center;">INICIO DE SESIÓN</h3>
            <label for=""> Email </label><br>
            <input class="form-control" type="text" name="email">
            <label for=""> Clave</label><br>
            <input class="form-control" type="password" name="clave"><br>
            <input class="btn btn-success btn-m " type="submit" value="Ingresar">
        </form>
    </div>
</body>
</html>