<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'productos/css/bootstrap.min.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'productos/css/syle.css'%}">
    <link rel="stylesheet" type="text/css" href="{% static 'productos/css/carousel.css'%}">
    <script src="{% static 'productos/js/jquery-3.6.0.min.js'%}"></script>
    <script src="{% static 'productos/js/bootstrap.min.js'%}"></script>
    <link rel="shortcut icon" href="{% static 'productos/img/logo1.png'%}">
    <title>Busqueda</title>
</head>

<body>
    <nav style="background-color: black;">
        <a class="navbar-brand" href="#">
        </a>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light border">

        <a class="navbar-brand letra_negra" href="#"> <img src="{% static 'productos/img/logo1.png'%}" width="30"
                height="30" class="d-inline-block align-top" alt="">
            mascotas</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{%url 'productos:index'%}">Home </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Acerca de la Tienda</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Producto
                    </a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Contactenos</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" action="{%url 'productos:mostrar_productos'%}" method="POST">
                {% csrf_token %}
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search"
                    name="Buscar">
                <input type="submit" class="btn btn-outline-dark my-2 my-sm-0" value="Buscar"></input>
            </form>
        </div>
    </nav>      
    {%if producto%}
    <ul>
        <h1 style="text-align: center; color: black;">PRODUCTOS ENCONTRADOS </h1>
        {%load humanize%}
        <div class="container "> 
            <div class="container">
                {%for p in producto %}
                <div class="card productos shadow p-3 mb-5" style="width: 18rem; ">
                    <img src="{{p.imagen.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">{{p.nombre}}</h5>
                        <p class="card-text">Marca: {{p.marca}}</p>
                        <p class="card-text">{{p.descripcion}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-success">${{p.precio|intcomma}} / CLP</li>
                    </ul>
                    <div class="card-body">
                        <a href="{%url 'productos:mostrado' p.id%}" class="btn btn-success">Ir a comprar</a>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </ul>
    {%else%}
    <p>No existe el producto buscado</p>
    {%endif%}
</body>
<footer  class="my-5 pt-5 text-muted text-center text-small">
    <h6>Nuestras redes sociales</h6>
    <h4></h4>
    <ul class="list-inline">
      <li class="list-inline-item"><a href="https://www.instagram.com/"><img src="{% static 'productos/img/instagram (1).png'%}" alt="" width="40"
            title="NUESTRO INSTAGRAM"></a></li>
      <li class="list-inline-item"><a href="https://www.facebook.com/"><img src="{% static 'productos/img/facebook-logo.png'%}" alt="" width="40"
            title="NUESTRO FACEBOOK"></a></li>
      <li class="list-inline-item"><a href="https://twitter.com/?lang=es"><img src="{% static 'productos/img/twitter (1).png'%}" alt="" width="40"
            title="NUESTRO TWITTER"></a></li>
    </ul>
    <p class="mb-1">&copy; mascotas. Todos los derechos reservados</p>
  </footer>
  

</html>